<main>
  <div class="form_text cc">
    <div class="form_text ">
      <div class="row">
        <div class="col-12 col-md-6">
          <h6 class="nav__items h6_class">EMPECEMOS A HACERLO SENCILLO</h6>
        </div>
        <div class="col-12 col-md-6">
          <p class="nav__items li_item">Nos emociona impulsar tu transformación digital</p>
      </div>
    </div>
  </div>
  </div>
  <form class="bg-dark p-4">
    <div class="row col-xl-12">
      <div class="col-12 col-sm-12 col-xl-6">
        <div class="mb-5 col-md-9 offset-md-1">
          <input
            type="text"
            class="form-control bg-dark border-0 boder-bot"
            id="exampleFormControlInput1"
            placeholder="Nombre y Apellido"
          />
        </div>
        <div class="mb-5 col-md-9 offset-md-1">
          <input
            type="email"
            class="form-control bg-dark border-0 boder-bot"
            id="exampleFormControlInput1"
            placeholder="Email"
          />
        </div>
        <div class="mb-5 col-md-9 offset-md-1">
          <input
            type="text"
            class="form-control bg-dark border-0 boder-bot"
            id="exampleFormControlInput1"
            placeholder="Empresa/Organismo"
          />
        </div>
        <div class="mb-5 col-md-9 offset-md-1">
          <input
            type="text"
            class="form-control bg-dark border-0 boder-bot"
            id="exampleFormControlInput1"
            placeholder="País"
          />
        </div>
      </div>
      <div class="col-12 col-sm-12 col-xl-4">
        <div class="mb-5 col-md-9 offset-md-1">
          <input
            type="number"
            class="form-control bg-dark border-0 boder-bot"
            id="exampleFormControlInput1"
            placeholder="Teléfono"
          />
        </div>
        <div class="mb-5 col-md-9 offset-md-1">
          <label
            htmlFor="exampleFormControlTextarea1"
            class="form-label text-white"
          >
            Mensaje:
          </label>
          <textarea
            class="form-control bg-dark"
            id="exampleFormControlTextarea1"
            rows="3"
          ></textarea>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col">
          <button type="submit" class="btn btn-Dark text-white submit">
            Enviar
          </button>
        </div>
      </div>
    </div>
  </form>
</main>
